<div class="footer">
    <p>Coded By: Naama Arkin</p>
    <ul class="social-nav clean-list">
        <li><a href="http://www.facebook.com/naama.arkin.1">
                <fa-icon [icon]="faFacebook" class="social"></fa-icon>
            </a></li>
        <li><a href="http://www.linkedin.com/in/naama-arkin/">
                <fa-icon [icon]="faLinkedin" class="social"></fa-icon>
            </a></li>
        <li><a href="https://github.com/naamaark">
                <fa-icon [icon]="faGithub" class="social"></fa-icon>
            </a></li>
    </ul>
</div>