<h2 mat-dialog-title>Edit Driver</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <p mat-label>Name</p>
        <input matInput [value]="data.name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p mat-label>Phone</p>
        <input matInput [value]="data.phone" formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p mat-label>Email</p>
        <input matInput [value]="data.email" formControlName="email">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>